:root {
  --branding-color: black;
  --accent-color: white;
}
.hero {
  max-width: 100%;
  text-align: center;
  padding: 100px;
}
.about {
  color: var(--accent-color);
  max-width: 100%;
  text-align: center;
  padding: 100px;
}

.about h1 {
  font-size: 64px;
}
.about h2 {
  font-size: 18px;
}
.about a {
  text-decoration: none;
  color: var(--accent-color);
}
.about a :hover {
  text-decoration: underline;
  color: var(--accent-color);
}
.portrait {
}
h1 {
  color: var(--accent-color);
}
.hero p {
  color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 50px 300px;
}
button {
  background-color: var(--accent-color);
  color: var(--branding-color);
  border-radius: 10px;
  padding: 18px 30px 18px 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
img {
  height: 200px;
  width: 200px;
  padding: 15px;
}
footer {
  padding: 0 200px 0 200px;
  width: 100%;
  color: var(--accent-color);
  background-color: #2b3035;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  line-height: 10px;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--accent-color);
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
